      * {
        
      }
      html, body, .map-canvas, .container {

        width: 100%;
        height :100%;
      }
      .map-canvas {
        /*z-index: -1;*/
        position: absolute;
        top: 0;
        left: 0;
      }
      .status-btn-holder, .url-input, .nextButton{
        font-family: sans-serif;
        position: absolute;

      }
      .status-btn-holder, .url-input{
        top: 80%;
        height:25%;
      }
      .nextButton {
        top: 10%;
        left:20%;
      }

      .status-btn-holder {
        left: 50%
      }
      .url-input {
        left: 35%;
      }
      .urlinput {
        font-size: 12px;
        width: 300px;
        height: 21px;
        padding: 5px 6px;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
      }
      .spinner {
        position: absolute;
        width: 100px;
        bottom: 150% !important;
        left: 25%;
      }
      .submitBtn {
        padding: 7.5px 12px;
        font-size: 13px;
        font-weight: bold;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,0.9);
        white-space: nowrap;
        background-color: #eeeeee;
        border-radius: 4px;
        border: 1px solid #d5d5d5;
      }

      .experience,.education {
        position: absolute;
      }

      .experience,.education,.nextButtonInner,.prevButton {
        text-transform: uppercase;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.33;
        border-radius: 6px;
        color: #96AEC2;
        background:white;
        /*background-color: #428bca;*/
        /*border-color: #357ebd;*/
        border: 1px solid #ddd;
        float:left;
      }
      button.inactive {
        color: #DEE1E4;
        background: white;
      }
      .experience {
        right: 150%;
      }


   