      html, body, .map-canvas, .container {

        width: 100%;
        height :100%;
      }
      .map-canvas {
        /*z-index: -1;*/
        position: absolute;
        top: 0;
        left: 0;
      }
      .status-btn-holder, .url-input {
        position: absolute;
        top: 80%;
        left: 50%;
        height:25%;
      }