doctype html
html(lang="en")
  head
  title 'View the linkedin public profile on google Map'
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
  link(href='style/style.css', rel='stylesheet', type='text/css')
  script(src='//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places')
  script(type="text/javascript" src="//platform.linkedin.com/in.js").
    api_key: 751eo1h601lgb9
    onLoad: onLinkedInLoad
    authorize: true
    credentials_cookie: true
    // authorize: true

  script(type='text/javascript').
    var onLinkedInLoad = function() {
      IN.Event.on(IN, "auth", onLinkedInAuth);
    }
    var onLinkedInAuth = function() {
      // location.href = '/signin';
      $.post('/auth');//fail
      //http://developer.linkedin.com/forum/jsapi-secure-cookie-empty-and-has-crc-end
      IN.API.Profile("me").result(displayProfiles);
    }
    function displayProfiles(profiles) {
      member = profiles.values[0];
      console.log(member);
    }
  body
    div.container
    script(type="IN/Login")
     // data-onAuth="[onAuthCallback]" data-onLogout="[onLogoutCallback]")

  script(data-main="scripts/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")

