!!! 5
html
  head
  title = 'View the linkedin public profile on google Map'
  meta(charset='utf-8')
  meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
  link(href='style/style.css', rel='stylesheet', type='text/css')
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places')

  body
    div.container
  script(data-main="scripts/main" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.9/require.min.js")

